* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #222;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #fb6681, #fdccd5)
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    position: relative;
    background-color: #181818;
    color: #fdccd5;
}

nav .nav-container {
    width: 80%;
    display: flex;
    align-items: center;
    position: relative;
    height: 15vh;
    margin: auto;
}

nav {
    min-height: 15vh;
    position: sticky;
    top: 0;
    z-index: +9;
    background-color: #181818;
}

nav .nav-brand {
    width: 100px;
    height: 15vh;
}

nav .nav-item {
    position: absolute;
    right: 0;
    display: flex;
    list-style: none;
}

nav .nav-item li {
    margin: 15px;
}

nav .nav-item a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: #F93357;
    font-weight: 800;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    z-index: -999;
}

footer .footer-text {
    color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.25em;
    align-items: center;
    margin-top: -25px;
    padding-bottom: 20px;
}

.footer-text strong {
    color: #ffffff;
}

@media screen and (max-width: 500px) {
    footer .footer-text {
        font-size: 1em;
        padding-bottom: 0px;
    }
}

svg {
    width: 100%;
    overflow: visible;
}

.wave {
    animation: wave 3s linear;
    animation-iteration-count: infinite;
    fill: #F93357;
}

.drop {
    fill: #fb6681;
    animation: drop 8.2s linear infinite normal;
    stroke: #fdccd5;
    stroke-width: 0.5;
    transform: translateY(25px);
    transform-box: fill-box;
    transform-origin: 50% 100%;
}

.drop2 {
    animation-delay: 8s;
    animation-duration: 8s;
}

.drop3 {
    animation-delay: -7s;
    animation-duration: 8.4s;
}

.drop4 {
    animation-delay: 6.7s;
}

.drop5 {
    animation-delay: 7.7s;
    animation-duration: 8.1s;
}

.drop6 {
    animation-delay: -7.1s;
    animation-duration: 8.2s;
}

.gooeff {
    filter: url(#goo);
}

#wave2 {
    animation-duration: 10s;
    animation-direction: reverse;
    opacity: .6
}

#wave3 {
    animation-duration: 12s;
    opacity: .3;
}

@keyframes drop {
    0% {
        transform: translateY(25px);
    }

    30% {
        transform: translateY(-10px) scale(.1);
    }

    30.001% {
        transform: translateY(25px) scale(1);
    }

    70% {
        transform: translateY(25px);
    }

    100% {
        transform: translateY(-10px) scale(.1);
    }
}

@keyframes wave {
    to {
        transform: translateX(-100%);
    }
}

.nav-toggle {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #F93357;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.nav-toggle .fas {
    -webkit-tap-highlight-color: transparent;
    color: #fff;
    transition: .5s;
    font-size: 25px;
    transform: rotate(45deg);
}

.nav-toggle .active {
    transform: rotate(540deg);
    -webkit-tap-highlight-color: transparent;
}

.nav-overlay {
    -webkit-tap-highlight-color: transparent;
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FDC6D0;
    transition: .5s;
    z-index: +9;
}

.nav {
    overflow: hidden;
}

.nav .active {
    transform: scale(100);
    visibility: visible;
}

@media screen and (max-width: 999px) {
    nav {
        display: none;
    }
}

@media screen and (min-width: 1000px) {

    .nav,
    .nav-toggle {
        display: none;
    }
}

.nav .nav-menu {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: .25s;
    visibility: hidden;
    z-index: +9;
}

.nav-menu ul {
    list-style: none;
    -webkit-tap-highlight-color: transparent;
}

.nav-menu ul a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: #F93357;
    font-weight: 800;
}

.nav .visible {
    transition-delay: .25s;
    visibility: visible;
}

.container {
    width: 80%;
    margin: auto;
    padding-bottom: 100vh;
}

.row {
    display: flex;
}

.about {
    min-height: 85vh;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 15vh 0vh;
}

.about-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img {
    height: 400px;
    width: 320px;
}

.about-text {
    margin: 0px 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-text h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 50px;
}

.resumeBtn {
    margin-top: 15px;
    width: 200px;
    padding: 10px 5px;
    background-color: #181818;
    color: #fb6681;
    border: 1px solid #F93357;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}

.resumeBtn :hover {
    background-color: #fff;
}

@media screen and (max-width: 960px) {
    .container {
        width: 95%;
    }

    .about {
        flex-direction: row;
        padding-top: 0;
        margin-top: 100px;
    }

    .about .row {
        flex-direction: column;
    }

    .about-text {
        margin: 5px;
    }
}

.projects {
    min-height: 85vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15vh;
    z-index: 2;
}

.projects h1, .projects h2,
.projects ul li {
    font-family: 'Poppins', sans-serif;
}

.projects h1{
    font-size: 2em;
}

.projects ul {
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

@media only screen and (max-width: 500px){
    .projects ul{
        width: 100%;
    }
    .projects ul li {
        min-width: 60px;
        height: 30px;
        font-size: 1em;
        margin: 5px !important;
    }
    .about-image img {
        height: 400px;
        width: 320px;
    }
}

.projects ul li {
    cursor: pointer;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F93357;
    margin: 15px;
}

.projects ul .selected {
    background-color: #fdccd5;
    color: #F93357;
    font-weight: 900;
}

.project-container #all,.project-container #web, .project-container #app, .project-container #others {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
}

.project-container .project-card {
    width: 200px;
    height: 250px;
    margin: 15px;
    position: relative;
    z-index: 0;
}

.project-container .project-card img {
    width: 196px;
    height: 245px;
    padding: 2px 2.5px;
}

.project-container .project-card .project-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    text-align: center;
    background-color: transparent;
    font-size: 1em;
    color: #Fff;
}

.project-container .project-card-overlay {
    width: 200px;
    height: 250px;
    background-color: rgba(253, 204, 213, .8);
    z-index: +1;
    margin: 15px;
    margin-left: -215px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-container .project-card-overlay:hover {
    opacity: 1;
}

.project-container .project-card-overlay a {
    color: #F93357;
    cursor: pointer;
    text-decoration: none;
}