* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #222;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #fb6681, #fdccd5)
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    position: relative;
    background-color: #fff;
}

nav .nav-container {
    width: 80%;
    display: flex;
    align-items: center;
    position: relative;
    height: 15vh;
    margin: auto;
}

nav{
    min-height: 15vh;
    position: sticky;
    top: 0;
    background-color: #fefefe;
}

nav .nav-brand {
    width: 100px;
    height: 15vh;
}

nav .nav-item {
    position: absolute;
    right: 0;
    display: flex;
    list-style: none;
}

nav .nav-item li {
    margin: 15px;
}

nav .nav-item a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: #F93357;
    font-weight: 800;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
}

footer .footer-text {
    color: #aeaeae;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.25em;
    align-items: center;
    margin-top: -25px;
    padding-bottom: 20px;
}

.footer-text strong {
    color: #F93357;
}

@media screen and (max-width: 500px) {
    footer .footer-text {
        font-size: 1em;
        padding-bottom: 0px;
    }
}

svg {
    width: 100%;
    overflow: visible;
}

.wave {
    animation: wave 3s linear;
    animation-iteration-count: infinite;
    fill: #181818;
}

.drop {
    fill: #181818;
    animation: drop 8.2s linear infinite normal;
    stroke: #181818;
    stroke-width: 0.5;
    transform: translateY(25px);
    transform-box: fill-box;
    transform-origin: 50% 100%;
}

.drop2 {
    animation-delay: 8s;
    animation-duration: 8s;
}

.drop3 {
    animation-delay: -7s;
    animation-duration: 8.4s;
}

.drop4 {
    animation-delay: 6.7s;
}

.drop5 {
    animation-delay: 7.7s;
    animation-duration: 8.1s;
}

.drop6 {
    animation-delay: -7.1s;
    animation-duration: 8.2s;
}

.gooeff {
    filter: url(#goo);
}

#wave2 {
    animation-duration: 10s;
    animation-direction: reverse;
    opacity: .6
}

#wave3 {
    animation-duration: 12s;
    opacity: .3;
}

@keyframes drop {
    0% {
        transform: translateY(25px);
    }

    30% {
        transform: translateY(-10px) scale(.1);
    }

    30.001% {
        transform: translateY(25px) scale(1);
    }

    70% {
        transform: translateY(25px);
    }

    100% {
        transform: translateY(-10px) scale(.1);
    }
}

@keyframes wave {
    to {
        transform: translateX(-100%);
    }
}

.nav-toggle {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #F93357;
    z-index: +999;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.nav-toggle .fas {
    color: #fff;
    transition: .5s;
    font-size: 25px;
    transform: rotate(45deg);
}

.nav-toggle .active {
    transform: rotate(540deg);
    z-index: +999;
}

.nav-overlay {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FDC6D0;
    transition: .5s;
    z-index: +99;
}
.nav{
    overflow: hidden;
}
.nav .active{
    transform: scale(100);
    visibility: visible;
}
@media screen and (max-width: 999px){
    nav{
        display: none;
    }
}
@media screen and (min-width: 1000px){
    .nav, .nav-toggle{
        display: none;
    }
}
.nav .nav-menu{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: +99;
    transition-delay: .3s;
    visibility: hidden;
}
.nav-menu ul{
    list-style: none;
}
.nav-menu ul a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: #F93357;
    font-weight: 800;
}
.nav .visible{
    transition-delay: .25s;
    visibility: visible;
}
.container{
    width: 80%;
    margin: auto;
    z-index: -99999;
}
.row{
    display: flex;
}
.about {
    min-height: 85vh;
    z-index: -9999;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 15vh;
}
.about-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-image img{
    width: 300px;
    height: 400px;
}
.about-text{
    margin: 0px 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-text h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 50px;
}
@media screen and (max-width: 960px){
    .container{
        width: 95%;
    }
    .about{
        flex-direction: row;
        padding-top: 0;
        margin-top: 100px;
    }
    .about .row{
        flex-direction: column;
    }
    .about-text{
        margin: 5px;
    }
}
.projects {
    min-height: 85vh;
}